html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,
abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,
var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    color: #6a6a6a!important;
}

/*HEADER*/
#header{
    margin: 20px 0 0 0;
}

.menu_btn{
    text-decoration: none;
    color: #262626;
    font-size: 18px;
    text-transform: uppercase;
}

.menu{
    margin-top: 10px;
}

.menu_btn:hover{
    color: #EE3B24!important;
}

a {
    text-decoration: none!important;
}

/*--------------------------------------------------------------------*/

/*MAIN PAGE*/
#main_page{
    height: 600px;
    background-image: url("../images/main_bg.jpg");
    position: relative;
    text-align: center;
    color: white;
}

.banner_text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 400;
}

/*--------------------------------------------------------------------*/

/*SERVICES*/
#services{
    margin-bottom: 30px;
}

.service_title{
    font-size: 30px;
    color: #262626;
    font-weight: 600;
    text-transform: uppercase;
    margin: 30px 0 30px 0;
}

.service_account{
    padding: 10px;
    border-radius: 5px;
    max-width: 350px;
    margin-right: 40px;
    box-shadow: 0px 0px 30px 10px rgba(169, 168, 165, 0.26);
}

.service_account a{
    color: #6a6a6a;
}

.service_account a:hover{
    color: #EE3B24;
}

.service_account:hover{
    color: #EE3B24;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 0.3s;
    box-shadow: 0px 0px 30px 10px rgba(238, 59, 36, 0.3);
}

.service_account_title{
    text-transform: uppercase;
    color: #EE3B24;
}

.service_account .row{
    margin-bottom: 20px;
}

/*--------------------------------------------------------------------*/

/*JOIN US*/
#join_us{
    margin-bottom: 30px;
}

.join{
    padding: 12px;
    font-size: 25px;
    font-weight: 400;
    border: solid 1px #EE3B24;
    border-radius: 10px;
    text-transform: uppercase;
    color: white;
    background-color: #EE3B24;
}

.join:hover{
    border-color: #cb321f;
    background-color: #cb321f;
    transition: 0.3s;
}

/*--------------------------------------------------------------------*/

/*LOGIN PAGE*/
#login{
    margin: 200px 0 80px 0;
    font-size: 22px;
}

.login_row{
    margin-bottom: 15px;
}

.login_input{
    border: solid 1px #EE3B24;
    border-radius: 5px;
    margin-left: 10px;
    min-width: 200px;
}

.login_input input{
    border: none;
    margin: 0 0 0 -11px;
    font-size: 14px;
    font-weight: bold;
}

.login_input input:focus{
    outline: none;
}

.login_btn{
    background: #EE3B24;
    border: solid 1px #EE3B24;
    border-radius: 5px;
    margin-right: 5px;
}

.login_btn:hover{
    cursor: pointer;
    background: #cb321f;
    border-color: #cb321f;
}

.login_btn input{
    border: none;
    background: none;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    padding: 5px;
}

.login_btn input:hover{
    cursor: pointer;
}

.register_btn{
    background-color: #EE3B24;
    border: solid 1px #EE3B24;
    border-radius: 5px;
    max-width: 160px;
    padding: 4px;
}

.register_btn:hover{
    background-color: #cb321f;
    cursor: pointer;
    border-color: #cb321f;
}

.register_btn a{
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

.error{
    color: red;
    font-size: 12px;
}

/*--------------------------------------------------------------------*/

/*USER PAGE*/
#accounts{
    margin: 80px 0 60px 0;
}

#accounts a{
    color: #6a6a6a;
}

.user_name{
    color: #EE3B24;
}

.account_row_welcome{
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: #262626;
}

.account_row{
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 400;
}

.account_sub_row{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 15px;

}

.acc_data{
    background-color: rgba(238, 59, 36, 0.3);
    border: solid 1px rgba(238, 59, 36, 0.3);
    border-radius: 3px;
}

.acc_data:hover{
    cursor: pointer;
    background-color: rgba(238, 59, 36, 0.8);
    font-weight: bold;
    color: #262626;
}

/*--------------------------------------------------------------------*/

/*ADMIN INTERFACE*/
#adminInterface{
    margin: 0 0 40px 0;
}

#adminInterface .account_sub_row{
    font-size: 14px;
}

/*--------------------------------------------------------------------*/

/*ORDERS*/
#userOrders{
    margin: 40px 0 40px 0;
}

.fa-minus-square, .fa-check-circle, .fa-ban{
    font-size: 18px;
}

.fa-minus-square:hover, .fa-check-circle:hover, .fa-ban:hover{
    color: #EE3B24;
    cursor: pointer;
    transition: 0.3s;
}

/*--------------------------------------------------------------------*/

/*BANK ACCOUNT*/
#bankAccount{
    margin: 80px 0 60px 0;

}

.title{
    color: #262626;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: uppercase;
}

/*--------------------------------------------------------------------*/

/*BANK ACCOUNT MANAGE INTERFACE*/

#bankAccountManager{
    margin: 40px 0 40px 0;
}

.accountBtn{
    background-color: #EE3B24;
    border: solid 1px #EE3B24;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
}

.accountBtn:hover{
    background-color: #cb321f;
    cursor: pointer;
}

.accountBtn a{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

/*--------------------------------------------------------------------*/

/*BANK ACCOUNT HISTORY*/
#history{
    margin: 40px 0 40px 0;
}

.titleUuid{
    margin-left: 20px;
    color: #EE3B24;
}

/*--------------------------------------------------------------------*/

/*NEW BANK ACCOUNT*/
#newBankAccount{
    margin: 40px 0 40px 0;
}

#newBankAccount .acc_line{
    font-size: 18px;
    font-weight: 600;
    color: #262626;
    margin-bottom: 15px;
}

.acc_type,.depositTerm,.creditTerm,.depSum,.credSum,.dep_perc,.cred_perc{
    border: solid 1px #EE3B24;
    border-radius: 3px;
    padding: 4px;
}

.acc_type:focus,.depositTerm:focus,.creditTerm:focus,.depSum:focus,.credSum:focus,.dep_perc:focus,.cred_perc:focus{
    outline: none;
}

#newBankAccount .dep_e,#newBankAccount .cred_e{
    font-size: 18px;
    color: red;
}

/*--------------------------------------------------------------------*/
#paymentTransfers{
    margin: 40px 0 40px 0;

}

#transfersInterface{
    margin: 40px 0 40px 0;
}

/*--------------------------------------------------------------------*/

/*ERROR PAGE*/
#errorPage{
    margin: 80px 0 40px 0;
}

/*--------------------------------------------------------------------*/

/*FOOTER*/
.footer_elements{
    height: 200px;
    background-color: #515151;
    color: #EE3B24;
}

.footer_data{
    margin-top: 20px;
}

.footer_data a{
    color: #262626;
    font-weight: 400;
}

.contacts{
    color: #262626;
    font-weight: 400;
}

.footer_data .row{
    margin-bottom: 15px;
}

.copyright{
    height: 50px;
    background-color: #343434;
}

.copyright_text{
    margin-top: 15px;
    font-weight: 400;
}

.colored_copyright{
    color: #EE3B24;
}